{
"config":
  {
  "latitude_deg":"$station.latitude[0]",
  "latitude_minutes":"$station.latitude[1]",
  "latitude_heading":"$station.latitude[2]",
  "longitude_deg":"$station.longitude[0]",
  "longitude_minutes":"$station.longitude[1]",
  "longitude_heading":"$station.longitude[2]",
  "owmkey":"$Extras.owmkey",
  "consoleunits":"$Extras.consoleunits",
  "gap":"$Extras.fcInterval"
  }
}